<div class="app-container">
  <aside class="sidebar">
    <h2>App</h2>
    <nav>
      <ul>
        <li><a routerLink="/clientes" routerLinkActive="active">Clientes</a></li>
        <li><a routerLink="/pagamentos" routerLinkActive="active">Pagamentos</a></li>
        <li><a routerLink="/servicos" routerLinkActive="active">Serviços</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Produtos</a></li>
        <li><a routerLink="/list" routerLinkActive="active">Estoque</a></li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <div class="dashboard-header">
      <p>Visão geral do sistema</p>
    </div>

    <div class="dashboard-grid">

      <!-- CLIENTES -->
      <div class="card card-clients">
        <div class="card-icon">👥</div>
        <div class="card-content">
          <h3>Clientes</h3>
          <p class="total">{{ totalClients }}</p>
        </div>
      </div>

      <!-- SERVIÇOS -->
      <div class="card card-services">
        <div class="card-icon">🛠️</div>
        <div class="card-content">
          <h3>Serviços</h3>
          <p class="total">{{ totalServices }}</p>
        </div>
      </div>

      <!-- PRODUTOS
      <div class="card card-products">
        <div class="card-icon">📦</div>
        <div class="card-content">
          <h3>Produtos</h3>
          <p class="total">{{ totalProducts }}</p>
        </div>
      </div> -->

      <!-- STATUS TOTAL -->
      <!-- <div class="card card-total">
        <div class="card-icon">📊</div>
        <div class="card-content">
          <h3>Total</h3>
          <p class="total">{{ status?.total }}</p>
        </div>
      </div> -->

        <!-- PAGAMENTOS -->
      <div class="card card-payments">
        <div class="card-icon">💳</div>
        <div class="card-content">
          <h3>Pagamentos</h3>
          <p class="total">{{ totalPayments }}</p>
        </div>
      </div>

      <!-- PENDENTES -->
      <div class="card card-pending">
        <div class="card-icon">⏳</div>
        <div class="card-content">
          <h3>Pendentes</h3>
          <p class="total">{{ status?.pending }}</p>
        </div>
      </div>

      <!-- PAGOS -->
      <div class="card card-paid">
        <div class="card-icon">✅</div>
        <div class="card-content">
          <h3>Pagos</h3>
          <p class="total">{{ status?.paid }}</p>
        </div>
      </div>

      <!-- ATRASADOS -->
      <div class="card card-late">
        <div class="card-icon">⚠️</div>
        <div class="card-content">
          <h3>Atrasados</h3>
          <p class="total">{{ status?.late }}</p>
        </div>
      </div>

    </div>
  </main>
</div>
