services:
  db:
    image: mysql:8.0
    container_name: produtos_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_USER: productuser
      MYSQL_PASSWORD: productpass
      MYSQL_DATABASE: productsdb
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /app
    environment:
      DB_HOST: db
      DB_DATABASE: productsdb
      DB_USERNAME: productuser
      DB_PASSWORD: productpass
      DB_CONNECTION: mysql
    command: php artisan serve --host=0.0.0.0 --port=8000
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ./backend/backend:/app
      - /app/vendor
      - /app/bootstrap/cache
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: product-app-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "4200:4200"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
