<div class="container">
  <div class="header">
    <app-go-back></app-go-back>
    <h2>Pagamentos</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Valor</th>
        <th>Descrição</th>
        <th>Cliente ID</th>
        <th>Status</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{ payment.id }}</td>
        <td>{{ payment.cash | currency:'BRL' }}</td>
        <td>{{ payment.description }}</td>
        <td>{{ payment.client_id }}</td>
        <td>{{ payment.status ? 'Pago' : 'Pendente' }}</td>
        <td>{{ payment.payment_date | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>
