<app-go-back></app-go-back>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Valor</th>
      <th>Vencimento</th>
      <th>Status</th>
      <th>Pago em</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let payment of payments">
      <td>{{ payment.id }}</td>
      <td>{{ payment.amount }}</td>
      <td>{{ payment.due_date }}</td>

      <td>
        <span [ngClass]="payment.status"
         {{getStatusLabel(payment.status)}}
        >
        </span>
      </td>

      <td>{{ payment.paid_at || '-' }}</td>

      <td>
        <button
          *ngIf="payment.status !== 'paid'"
          (click)="pay(payment.id)">
          Pagar
        </button>
      </td>
    </tr>
  </tbody>
</table>
