APP_NAME="Products App"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=productsdb
DB_USERNAME=productuser
DB_PASSWORD=productpass

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
