<div class="container">
  <div class="header">
    <app-go-back></app-go-back>
    <h2>Serviços</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>{{ service.id }}</td>
        <td>{{ service.name }}</td>
        <td>{{ service.description }}</td>
        <td>{{ service.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
