.title {
  color: #0056b3;
  padding: 3px 20px 3px;
  font-size: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}


.header h2 {
  margin: 0;
  color: #007bff;
  font-size: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background: linear-gradient(to right, #007bff, #0056b3);
  color: white;
}

.table tr:hover {
  background: #f5f5f5;
}

.button_add {
  background: #3b82f6;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
