<div class="body">

  <div class="title">
    <h2>Clientes</h2>
  </div>

  <div class="header">
    <app-go-back></app-go-back>

    <div class="search-container">
      <mat-icon class="search-icon">search</mat-icon>

      <input type="text" [(ngModel)]="searchName" placeholder="Buscar por nome" (keyup.enter)="searchByName()" />
    </div>

    <div class="button_add" (click)="openCreateDialog()">
      <mat-icon> add</mat-icon>
    </div>
  </div>

  <div class="body_table">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Razão Social</th>
          <th>CNPJ</th>
          <th>Telefone</th>
          <th>Cidade</th>
          <th>Endereço</th>
          <th>Rua</th>
          <th>Nº</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let client of pagedClients">
          <td>{{ client.id }}</td>

          <td>
            <span [ngClass]="client.status_client ? 'active' : 'inactive'">
              {{ client.status_client ? 'Ativo' : 'Inativo' }}
            </span>
          </td>

          <td>{{ client.name }}</td>
          <td>{{ client.cpf }}</td>
          <td>{{ client.corporate_name }}</td>
          <td>{{ client.cnpj }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.city }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.street }}</td>
          <td>{{ client.number }}</td>
          <td>
            <button (click)="openEditDialog(client)"
              style="padding: 5px 10px; cursor: pointer; background: #28a745; color: white; border: none; border-radius: 4px;">Atualizar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="paginator">
      <mat-paginator [length]="filteredClients.length" [pageSize]="10" (page)=" onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>
