<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="userForm">
    <div class="inputCPF">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" formControlName="cpf" placeholder="Digite seu CPF" />
        @if (userForm.get('cpf')?.errors?.['required'] && userForm.get('cpf')?.touched) {
        <small class="error-msg">CPF é obrigatório</small>
        }
    </div>

    <div class="inputPassword">
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password" placeholder="Digite sua senha">
        @if (userForm.get('password')?.errors?.['required'] && userForm.get('password')?.touched) {
        <small class="error-msg">Senha é obrigatória</small>
        }
    </div>

    <button type="submit" [disabled]="userForm.invalid" class="buttonSubmit">
        Entrar
    </button>
</form>